# Virtual Environment
.venv/
# Virtual Environments
venv/
ENV/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# IDE files
.idea/
.vscode/
*.iml

# --- Data and Outputs ---
# Block all JSON and PTH by default to prevent accidental heavy uploads
*.json
*.pth
*.csv
*.png

# EXCEPT for these specific files which are required for the project to work:
!query_gnn.pth
!scaler.pkl
!examples/*.json
!gnn_report_plots.png
!dataset_health_visuals.png

# Keep the README
!README.md